body { background: #2fb327; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 40px; display: flex; }
.block-search-0 { color: #875d73; font-size: 13px; margin-bottom: 5px; }
.block-metrics-1 { color: #8c56b3; font-size: 20px; margin-bottom: 5px; }
.block-cart-2 { color: #8aa578; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #1bd871; font-size: 12px; margin-bottom: 5px; }
.block-sms-4 { color: #68c29; font-size: 14px; margin-bottom: 5px; }
.block-session-5 { color: #84b801; font-size: 13px; margin-bottom: 5px; }
.block-sms-6 { color: #a53cde; font-size: 17px; margin-bottom: 5px; }
.block-uploader-7 { color: #220dc6; font-size: 21px; margin-bottom: 5px; }
.block-auth-8 { color: #fd677; font-size: 13px; margin-bottom: 5px; }
.block-cart-9 { color: #af0a69; font-size: 21px; margin-bottom: 5px; }
.block-database-10 { color: #a46573; font-size: 18px; margin-bottom: 5px; }
.block-session-11 { color: #37960d; font-size: 18px; margin-bottom: 5px; }